/****************************** CSS FOR THE MOBILE AND OTHER SMALL DEVICES************************ */
nav .fa-solid {
    display: none;
}

@media only screen and (max-width:600px) {
    .header-text {
        margin-top: 25vh;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        z-index: 2;
        background-color: #ff004f;
        position: fixed;
        top: 0;

        /* full width=200px, initially hidden so 200px minused = -200px */
        right: -200px;
        width: 200px;
        height: 150vh;
        padding-top: 50px;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 p {
        font-size: 14px;
    }

    .tab-contents {
        font-size: 14px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
}